extends base.pug

block head
    link(rel='shortcut icon' type='image/x-icon' href='/public/favicon.png')
    link(rel="stylesheet" href="/public/home.css" type="text/css")
    script(src="/public/home.js")

block body

    div.container.cover-container.d-flex.h-100.p-3.mx-auto.flex-column
        header.masthead.mb-auto 
            div.inner 
                h3.masthead-brand
                    a(href="https://megathon.in" title="Megathon 2018")
                        img.img-icon(src="/public/logo_new.png")
                nav.nav.nav-masthead.justify-content-center
                    a.nav-link.active(href="/home") File Upload Portal
                    a.nav-link(href="/login") Logout

        main.inner.cover(role="main")
                if filesExist
                    h1.cover-heading Uploaded file
                else
                    h1.cover-heading Upload a file
                
                if filesExist
                    table.lead.table                
                        tbody
                            each file in files
                                tr
                                    td=file.path
                                    td 
                                        a(href='/download/'+file.path)
                                            i.icon(style="background-image:url('/public/download.svg');" title="Download")
                                    td
                                        a(href="#" onclick=`NotifyDelete("${file.path}");`)
                                            i.icon(style="background-image:url('/public/trash.svg');"  title="Delete")
                    p You have already uploaded a file. To edit your file, please delete it above first, 
                        | and then reupload edited file.
                else
                    form.lead(action="/upload" enctype="multipart/form-data" method="POST")
                            div.custom-file
                                input.custom-file-input.btn.btn-lg(type="file" name="upload" id="upload" required)
                                label.custom-file-label.text-left(for="upload") Choose File   
                            br
                            button.btn.btn-lg.btn-submit(type="submit") Upload
                    h3.submission Submission format
                    ol
                        li There is only one submission per team.
                        li In case of more than one files, submit a single zip file, containing all your documents, images, etc.
                        li Max file size is 50MB.
                        li For files of greater size, upload your files on Github or Google Drive, and add the repository link in code.txt.
                        li For help creating a zip file, see <a href="https://support.microsoft.com/en-in/help/14200/windows-compress-uncompress-zip-files">Windows</a>, <a href="https://support.apple.com/kb/ph25411?locale=en_GB">macOS</a>, and <a href="https://unix.stackexchange.com/questions/6596/how-do-i-zip-unzip-on-the-unix-command-line">Linux</a>.
                    


        footer.mastfoot.mt-auto
            div.inner
                p Made by 
                    a(href="https://ecell.iiit.ac.in") ECell IIIT Hyderabad Tech Team
                
block script
    script(src="/public/js/home.js")
