extends base.pug

block head

block body
    div.container.text-white
        h1='Files Uploaded'
        h3 Click to Delete
        ul
            each file in files
                li(onclick=`NotifyDelete("${file.path}");`)=file.path
        h3 Click to Download
        ul
            each file in files
                a(href='/download/'+file.path)
                    li=file.path
    div.container.text-white
        form(action="/upload" enctype="multipart/form-data" method="POST")
            div.form-group.text-left
                input.form-element(type="file" name="upload" multiple required)
                input.btn.btn-login(type="submit" value="Submit")
block script
    script(src="/public/js/home.js")
