/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
    color: #bba559;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #111628;
    text-shadow: none; /* Prevent inheritance from `body` */
    background-color: #bba559;
    border: 0.05rem solid #bba559;
}

/*
 * Base structure
 */

html,
body {
    height: 100%;
    background-color: #111628;
}

body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    color: #bba559;
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}

.cover-container {
    max-width: 42em;
}

/*
 * Header
 */
.masthead {
    margin-bottom: 2rem;
}

.img-icon {
    height: 7vh;
}

.btn-submit {
    color: #111628;
    background: #bba559;
}
.btn-submit:hover {
    color: #bba559;
    background: transparent;
}

.masthead-brand {
    margin-bottom: 0;
}

.nav-masthead .nav-link {
    padding: 0.25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.5);
    background-color: transparent;
    border-bottom: 0.25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, 0.25);
}

.nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
}

.nav-masthead .nav-link {
    color: #bba559;
}

.nav-masthead .active {
    border-bottom-color: #bba559;
}

@media (min-width: 48em) {
    .masthead-brand {
        float: left;
    }
    .nav-masthead {
        float: right;
    }
}

/*
 * Cover
 */

p {
    color: #bdb9b9;
}

.cover {
    padding: 0 1.5rem;
}
.cover .btn-lg {
    padding: 0.75rem 1.25rem;
    font-weight: 700;
    margin: 10px;
    outline: none;
}
.custom-file-label {
    padding: 0.3rem 0.5rem;
    background-color: transparent;
    color: #bba559;
    cursor: pointer;
    outline: none;
    border: none;
}

table th,
td {
    border-top: none !important;
    border-bottom: none !important;
}

i.icon {
    width: 20px;
    cursor: pointer;
    height: 20px;
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
}

hr {
    border-top: 1px solid white;
}

.btn-submit {
    border: 1px solid #bba559;
    font-size: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    outline: none;
    cursor: pointer;
}

/*
 * Footer
 */
.mastfoot {
    color: rgba(255, 255, 255, 0.5);
}

.errorBlock {
    padding: 20px;
    width: 100%;
    height: 100%;
}

@media (max-width: 768px) {
    .nav.nav.nav-masthead.justify-content-center {
        margin-top: 10px;
    }
}
