extends base.pug

block head
    link(rel="stylesheet" href="/public/home.css" type="text/css")
    script(src="/public/home.js")

block body

    div.container.cover-container.d-flex.h-100.p-3.mx-auto.flex-column
        header.masthead.mb-auto 
            div.inner 
                h3.masthead-brand
                    a(href="https://megathon.in" title="Megathon 2018")
                        img.img-icon(src="/public/logo_new.png")
                nav.nav.nav-masthead.justify-content-center
                    a.nav-link.active(href="/home") File Upload Portal
                    a.nav-link(href="/login") Logout

        main.inner.cover(role="main")
                h1.cover-heading Uploaded Files
                table.lead.table
                    if filesExist
                        thead
                            tr
                                th File Name
                                th Download
                                th Delete
                    tbody
                        each file in files
                            tr
                                td=file.path
                                td 
                                    a(href='/download/'+file.path)
                                        i.icon(style="background-image:url('/public/download.svg');")
                                td
                                    a(href="#" onclick=`NotifyDelete("${file.path}");`)
                                        i.icon(style="background-image:url('/public/trash.svg');")
                if filesExist
                    hr
                form.lead(action="/upload" enctype="multipart/form-data" method="POST")
                        div.custom-file
                            input.custom-file-input.btn.btn-lg(type="file" name="upload" id="upload" multiple required)
                            label.custom-file-label.text-left(for="upload") Choose File   
                            br
                            button.btn.btn-lg.btn-submit(type="submit") Upload


        footer.mastfoot.mt-auto
            div.inner
                p
                    a(href="https://ecell.iiit.ac.in") Made by ECell IIIT-H Tech Team
                    br
                    | Thanks to <a href="https://fontawesome.com/license/free">FontAwesome 5</a> (used with changes)
                
block script
    script(src="/public/js/home.js")
