extends base.pug

block head
	link(rel="stylesheet" href="/public/signin.css" type="text/css")

block body
	div.container.text-white.text-left
		p Hello and welcome to Megathon
		p 

		form(action="/enter" method="POST")
			div.form-group.text-left
				label Enter team name: 
				input.form-element(type="text" name="name")
			div.form-group.text-left
				label Enter Password
				input.form-element(type="password" name="password")
			button.btn.btn-login(type="submit") Click to submit

block script